
@media only screen and (min-width:540px),only screen and (min-device-width:540px){html{font-size:72px}}
@media only screen and (max-width:480px),only screen and (max-device-width:480px){html{font-size:64px}}
@media only screen and (max-width:414px),only screen and (max-device-width:414px){html{font-size:55px}}
@media only screen and (max-width:400px),only screen and (max-device-width:400px){html{font-size:53px}}
@media only screen and (max-width:375px),only screen and (max-device-width:375px){html{font-size:50px}}
@media only screen and (max-width:360px),only screen and (max-device-width:360px){html{font-size:48px}}
@media only screen and (max-width:320px),only screen and (max-device-width:320px){html{font-size:42px}}
@media only screen and (max-width:240px),only screen and (max-device-width:240px){html{font-size:32px}}
body{
    margin:0 auto;
    font-family: "Microsoft YaHei" !important;
    font-size:.28rem;
    line-height:1.2;
    background-color:#ffffff;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a:hover{
    text-decoration: none;
}
.public-header{
    position:fixed;
    left:0;
    top:0;
    z-index: 10;
    width:100%;
    height:.8rem;
    line-height:.8rem;
    background-color:#1b1b20;

}
.public-header .back{
    position: absolute;
    left:.25rem;
    padding-left:.28rem;
    height:100%;
    font-size:.28rem;
    color:#ffffff;

}
.public-header .back:before{
    content: '';
    position:absolute;
    left:0;
    top:0.25rem;
    display:inline-block;
    width:.18rem;
    height:.32rem;
    background:url(../images/order_back.png) no-repeat left center;
    background-size:.18rem .31rem;
    vertical-align: middle;

}
.public-header h1{
    margin:0;
    font-size:.3rem;
    text-align: center;
    color:#eef0f2;
    line-height:.8rem;
}
.public-header .header-more{
    display:inline-block;
    line-height:.1rem;
    position:absolute;
    right:.2rem;

    top:.27rem;
    color:#fff;
    font-size:.4rem;
}
/**/
.public-product-main{
    padding-top:.8rem;
}
.public-product-main .product-common{
    overflow:hidden;
    border-top:.25rem solid #f1f1f1;
}
.public-product-main .product-common .item{
    overflow:hidden;
    padding:.32rem .25rem;
    border-bottom:1px solid #dddddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.public-product-main .product-common .item:last-child{
    border-bottom:none;
}
.product-common .item label{
    float:left;
    display:inline-block;
    width:1.3rem;
    margin-bottom:0;
    font-weight:normal;
    font-size:.3rem;
    color:#333333;
}
.public-product-main .item-use{
    position:relative;
}
.public-product-main .item-use  .title-left{
    float:left;
}
.public-product-main .item-use .wrap-input{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow:hidden;
}
.public-product-main .item-use .wrap-input input{
    padding:.03rem .6rem .03rem 0;
    outline:none;
    border:none;
    height:.36rem;
    width:100%;
    font-size:.28rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.public-product-main .item-use .wrap-input .tip-close{
    display:none;
    position:absolute;
    right:.25rem;
    top:.35rem;
    width:.32rem;
    height:.32rem;
    margin-bottom:0;
    background:url(../images/public-shanchu.png) no-repeat center;
    background-size:.31rem .31rem;
}
.product-common .item input{
    float:left;
    padding-left:.1rem;
    border:none;
    outline:none;
    color:#333;
}
.product-common .item .item-right{
    display:inline-block;
    padding-top:.02rem;
    float:right;
    color:#333;
}
.product-common .item .item-right .total{
    font-style:normal;
    padding:0 .08rem;
    color:#1ea78d;
}
.product-common .item .item-right .turn-right{
    display:inline-block;
    width:.14rem;
    height:.36rem;
    background:url(../images/public_jiantou.png) no-repeat center center;
    background-size:.14rem .27rem;
}
.product-common .item::-webkit-input-placeholder{
    color:#cccccc;
}
.public-product-main .product-common .first-item{
    padding:0 .25rem;
}
.product-common .item .wrap-left{
    float:left;
    margin-right:.35rem;
    padding:.32rem 0;
    overflow:hidden;
}
.product-common .item .wrap-left input{
    width:2.8rem;
}
.product-common .item .wrap-right{
    padding:.32rem 0 .32rem .32rem;
    overflow:hidden;
    border-left:1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-common .item .wrap-right input{
    position:absolute;
    height:0;
    width:0;
    opacity:0;
}
.public-product-main .first-item label,.public-product-main .first-item .wrap-left input{
    float:left;
}
.product-common .item .wrap-right label{
    width:100%;
    padding-left:.6rem;
    background:url(../images/wc_publi_noSelect.png) no-repeat .02rem center;
    background-size:.31rem .31rem;
}
.product-common .item .wrap-right .selected{
    background:url(../images/wc_public_selected.png) no-repeat 0.02rem center;
    background-size:.31rem .31rem;
}
.product-main-details .wrap-input{
    position:relative;
    padding:.32rem .25rem;
    border:1px solid #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-main-details .wrap-input input{
    padding:.03rem .6rem .03rem 0;
    outline:none;
    border:none;
    height:.36rem;
    width:100%;
    font-size:.28rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-main-details .wrap-input .tip-close{
    display:none;
    position:absolute;
    right:.25rem;
    top:.35rem;
    width:.32rem;
    height:.32rem;
    margin-bottom:0;
    background:url(../images/public-shanchu.png) no-repeat center;
    background-size:.31rem .31rem;

}
.product-main-details .wrap-textarea{
    position:relative;
    padding:.2rem .25rem;
}
.product-main-details .wrap-textarea textarea{
    width:100%;
    resize:none;
    padding:.2rem;
    color:#666666;
    outline:none;
    line-height:1.4;
    overflow:hidden;
    border:none;
    -webkit-border-radius: .06rem;
    -moz-border-radius: .06rem;
    border-radius: .06rem;
    background-color:#f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-main-details .wrap-textarea textarea::-webkit-input-placeholder{
    color:#999;
}
.product-main-details .wrap-textarea textarea:-ms-input-placeholder{
    color:#999;
}
.product-main-details .wrap-textarea .wrap-word{
    position:absolute;
    bottom:.3rem;
    right:.35rem;
    color:#666;
}
.product-main-details .wrap-textarea .wrap-word i{
    font-style:normal;
}
.product-main-details .wrap-photo{
    padding:.15rem 0 .35rem .25rem;
}
.product-main-details .wrap-photo .add-photo{
    position:relative;
    float:left;
    width:1.7rem;
    height:1.7rem;
    margin-bottom:0;
    line-height:1.5rem;
    text-align: center;
    font-size:.8rem;
    font-weight:normal;
    border:1px dashed #87d0c2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:url(../images/plu.png) no-repeat center center;
    background-size:.88rem .9rem;
}
.product-main-details .wrap-photo .add-photo .add{
    position:absolute;
    left:0;
    top:0;
    width:1.7rem;
    height:1.7rem;
    opacity:0;
}
.product-main-details .wrap-photo .wrap-upload{
    position:relative;
    overflow:hidden;
}
.product-main-details .wrap-photo .upload-details{
    position:absolute;
    bottom:0;
    left:2.1rem;
    overflow:hidden;
    vertical-align: bottom;
}
.product-main-details .wrap-photo .upload-details span{
    line-height:1.6;
    display:block;
    color:#999;
}
.product-main-details .wrap-photo .upload-details .span2{
    font-size:.24rem;
}
.product-main-details .wrap-photo .photo-lists {
    width:500%;
    word-break: break-all;

}
.wrap-photo .photo-lists .photo-item{
    float:left;
    margin:0 .04rem .08rem .04rem;

    overflow:hidden;
}
.wrap-photo .photo-lists .photo-item img{
    width:1.87rem;
    height:1.7rem;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem;
}
.public-product-main .product-finish{
   padding:.3rem 0 .5rem;
    text-align:center;

}
.public-product-main .product-finish .next{
    display:inline-block;
    width:90%;
    color:#fff;
    font-size:.3rem;
    background-color:#2aab93;
    line-height:.8rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.public-product-main .product-finish .details{
    padding-top:.2rem;
}
.public-product-main .product-finish .details a{
    color:#2aab93;
}
.public-product-main .product-finish .details input{
    vertical-align: middle;
    margin-top:-.01rem;
    margin-right:.01rem;
}
/**覆盖时间插件的css**/
.dw{
    font-size:12px;
}
.android-ics .dwv{
   height:36px;
    line-height:36px;
    font-size:18px;
}
.android-ics .dwc{
    padding: 30px 10px 1px 10px;
}
.android-ics .dww .dw-li{
    font-size:18px;
}
.android-ics .dw .dwwol{
    height: 30px;
    line-height:30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -16px;
}
.android-ics .dw .dwb {
    height: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}
.dwbg .dwb{
    font-size:14px;
}
.dwl{

}