@media only screen and (min-width:750px),
only screen and (min-device-width:750px) {
    html {
        font-size: 100px
    }
}

@media only screen and (min-width:540px),
only screen and (min-device-width:540px) {
    html {
        font-size: 72px
    }
}

@media only screen and (max-width:480px),
only screen and (max-device-width:480px) {
    html {
        font-size: 64px
    }
}

@media only screen and (max-width:414px),
only screen and (max-device-width:414px) {
    html {
        font-size: 55px
    }
}

@media only screen and (max-width:400px),
only screen and (max-device-width:400px) {
    html {
        font-size: 53px
    }
}

@media only screen and (max-width:375px),
only screen and (max-device-width:375px) {
    html {
        font-size: 50px
    }
}

@media only screen and (max-width:360px),
only screen and (max-device-width:360px) {
    html {
        font-size: 48px
    }
}

@media only screen and (max-width:320px),
only screen and (max-device-width:320px) {
    html {
        font-size: 42px
    }
}

@media only screen and (max-width:240px),
only screen and (max-device-width:240px) {
    html {
        font-size: 32px
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.has-head {
    padding-top: 0.96rem;
    font-family: '微软雅黑'
}

.head {
    position: fixed;
    height: 0.96rem;
    line-height: 1rem;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background: #dc4935;
    text-align: center;
    font-size: 0.44rem;
    letter-spacing: 2px;
    z-index: 1000;
}

.head a.back {
    width: 0.96rem;
    height: 0.96rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    line-height: 0.96rem;
}

.head a.back img {
    width: 22px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.level-con {
    background: #dc4935;
    padding: 0.4rem 0.4rem 0.25rem;
    margin-top: -1px;
    border-bottom: 0.2rem solid #f2f2f2;
}

.level-con .l-c {
    background: url('../../images/icon_dengjiyuanxian@2x.png') no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    margin: 0 auto;
    color: #fff;
    font-size: 0.68rem;
    text-align: center;
    line-height: 1.32rem;
}

.pross-con {
    padding-top: 0.2rem;
    color: #e78072;
    font-size: 0.22rem;
    text-align: center;
}

.pross-con .pross {
    background: #e78072;
    height: 10px;
    margin: 0.1rem;
    border-radius: 5px;
    overflow: hidden;
}

.pross-con .pross span {
    float: left;
    background: #fff;
    height: 100%;
}

.pross-text span {
    display: inline-block;
    width: 16.666666%;
    float: left;
    text-align: left;
}

.pross-text span.act {
    color: #fff;
}

.pross-text span span {
    float: right;
}

.level-s {
    border-top: 1px solid #e0e0e0;
}

.level-s p {
    letter-spacing: 1px;
}

.level-s .tit {
    line-height: 1rem;
    font-size: 0.28rem;
    color: #2d2d2d;
    padding-left: 0.3rem;
    border-bottom: 1px solid #e0e0e0;
}

.level-s .l-s {
    padding: 0.2rem 0.3rem;
    font-size: 0.24rem;
    color: #989898;
    line-height: 0.4rem;
}

.level-s .l-s>p {
    padding-bottom: 5px;
    padding-left: 0.45rem;
    position: relative;
}

.level-s .l-s>p span {
    display: inline-block;
    width: 0.45rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}