
/**初始化样式*/
html { color: #000; background: #FFF; width: 100%; height: 100%; font-size:62.5%;}
body { width: 100%; height: 100%; font-size:14px;line-height:1.2;color:#373737;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
caption, th { text-align: left }
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}
a{text-decoration:none;}
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; *font-size: 100%
}
/***轮播图**/
.jewelryList-main{

		font-family:"microsoft yahei";
	
	.jewelryList-banner{
	    overflow: hidden;
	        .banner-ul{
				position: relative;
				overflow: hidden;
				.banner-li{
					display: none;
					img{
						width: 100%;
						max-height:448px;
						vertical-align: middle;
					}
				}
				.banner-active{
				display: block;
			    }
			}
    }
} 
.wrap-jewelryDetail-content{
	background:url(../../images/content-bg.png) center center;
	background-size: 100% 100%;
	.jewelryDetail-content{
		margin:0 auto;
		width:1200px;
		.content-product-show{
			padding:50px 0 80px 0;
			overflow:hidden;
			border-bottom:1px solid rgba(97, 29, 111,.2);
		}
		.content-product-details{
			padding-top:90px;
		}
	}
}
.content-product-show{
	.product-left{
		float:left;
		width:585px;
		
		overflow:hidden;
		.wrap-big-pic{
			height:605px;
			margin-bottom:20px;
				.big-pic{
				width:100%;
				height:100%;
				vertical-align:middle;
			}
		}
		.wrap-small-pic{
			position:relative;
			height:125px;
			padding:0 30px 0 32px;
			overflow:hidden;
			.wrap-small-lists{
				height:125px;
				position:absolute;
				width:520px;
				overflow:hidden;
			}
			.small-lists{
			    overflow:hidden;
			    position:absolute;
			}
			.step{
				display:inline-block;
				width:20px;
				height:33px;
				position:absolute;
				bottom:30px;
				z-index:10;
			}
			.prev-step{
				left:0;
				background:url(../../images/Back.png) no-repeat center center;
				background-size:18px 31px;
			}
			.next-step{
				right:0;
				background:url(../../images/Next.png) no-repeat center center;
				background-size:18px 31px;
			}
		}
		
	  }
	  .product-right{
	  	padding:60px 35px 0 85px;
	  	overflow:hidden;
	  	h2{
	  		font-size:24px;
	  		color:#333;
	  	}
	  	.title-details{
	  		padding:30px 0 40px 0;
	  		font-size:14px;
	  		color:#666;
	  		line-height:1.6;
	  		border-bottom:1px solid rgba(97, 29, 111,.2);
	  	}
	  	.product-intro{
	  		padding:40px 0 0; 
	  		height:242px;
	  		line-height:1.4;
	  		font-size:14px;
	  		color:#666;
	  		-webkit-box-sizing:border-box;
	  		-moz-box-sizing:border-box;
	  		box-sizing:border-box;
	  		p{
	  			padding-bottom:8px;
	  		}
	  	}
	  	.product-operate{
	  		padding:10px 0 110px 0;
	  		.operate-btn{
	  			margin-right:40px;
		  		display:inline-block;
		  		padding:8px 20px;
	             border:1px solid rgb(97, 29, 111);
	             font-size:18px;
	             color:#611d6f;
	             -webkit-border-radius:2px;
	             -moz-border-radius:2px;
	             border-radius:2px;
		  	}  	
	  	} 
	  	.product-share{
	  		padding-top:20px;
	  		border-top:1px solid rgba(97, 29, 111,.2);
	  		.share-item{
	  			padding-right:20px;
	  			vertical-align:middle;

	  		}
	  	}
	  }
}


 .wrap-small-pic .small-lists .small-item{
   	  float:left;
   	  padding:0 5px;
   	  width:130px;
   	  height:125px;
   	  overflow:hidden;
   	  cursor:pointer;
   	  -webkit-box-sizing:border-box;
   	  -moz-box-sizing:border-box;
   	  box-sizing:border-box;
   	  img{
   	  	width:100%;
   	  	height:100%;
   	  }
   }
   /* 懒人图库 搜集整理 www.lanrentuku.com 

div.orbit-wrapper { position: relative; overflow: visible;top:120px;}
div.orbit { position: relative; overflow: hidden;}
div.orbit span { display:none;}
div.orbit a img{ position: absolute; display:block;width:100%; box-shadow: 0 3px 8px rgba(0,0,0,0.5);}
div.orbit-wrapper h4{ display: none; }
.lists-item{
	display:block;
	width:400px;
	overflow:hidden;

}*/
.slider-nav{display:none;}
.content-product-details{
	    .details-item{
	    	overflow:hidden;
	    }
		.first-item{
			max-height:685px;
			overflow:hidden;
			img{
				width:100%;
				vertical-align:middle;
			}
		}
		.second-item{
			position:relative;
			height:780px;
			width:100%;
			background-color:#000;
			opacity: .8;
			filter: alpha(opacity=80);
			.second-bottom{
				position:absolute;
				bottom:0;
				left:0;
				height:210px;
				width:100%;
				background-color:#611d6f;
			}
			 .second-lists{
			
				z-index:12;
				.lists-item{
					position:absolute;
					width:400px;
					top:118px;
					transition:all .5s;
					&:nth-child(1){
						left:0;
						top:178px;
						z-index:4;
						.wrap-pic{
			                    height:395px;
						}
						
					}
					&:nth-child(2){
			                        left:60px;
			                        z-index:5;
			                        .wrap-pic{
			                        	height:510px;
			                        }
			                        
					}
					&:nth-child(3){
						top:75px;
						left:50%;
						z-index:12;
						height:100%;
						transform:translateX(-50%);
						.wrap-pic{
							height:605px;
						}
						img{
							transform:scale(1.3);
						}
			
					}
					&:nth-child(4){
						right:60px;
						z-index:5;
			
						.wrap-pic{
							height:510px;
						}
						
					}
					&:nth-child(5){
						height:395px;
						top:178px;
						right:0;
						z-index:4;
						.wrap-pic{
			                            height:395px;
						}
					}
					.wrap-pic{
						overflow:hidden;
					}
					img{
						width:100%;
						height:100%;
					}
					p{
						padding-top:18px;
						text-align:center;
						font-size:16px;
						color:#fff;
					}
				}
			}
			.dimmer{
				position:absolute;
				left:0;
				top:0;
				right:0;
				bottom:0;
				z-index:11;
				background-color:rgba(0,0,0,0.5);
			} 
		}
		.third-item{
			position:relative;
			height:780px;
			.third-bg{
				position:absolute;
				z-index:0;
				width:100%;
				height:100%;
				-webkit-filter:blur(2px);
				-moz-filter:blur(2px);
				-ms-filter:blur(2px);
				filter:blur(2px);
			}
			.wrap-user-pic{
				position:absolute;
				left:110px;
				bottom:0;
				z-index:10;
				max-height:660px;
				.user-pic{
				vertical-align:middle;
			   }
			}
			.wrap-user-intro{

				position:absolute;
				padding:5px;
				right:80px;
				top:135px;
				width:715px;
				height:475px;
				background:url(../../images/icon-juxing.png) no-repeat center center;
				background-size:100% 100%;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				.user-intro{
					padding:70px 60px;
					height:100%;
					background-color:rgba(255,255,255,0.5);
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;
				}
				h4{
					padding-bottom:15px;
					font-size:36px;
					color:#222;
				}
				h3{
					padding-bottom:30px;
					font-size:48px;
					color:#611d6f;
				}
				p{
					padding-bottom:40px;
					font-size:18px;
					color:#333;
					line-height:1.4;
					&:last-child{
						padding-bottom:0;
					}
				}
			}
			
		}
		.four-item{

			position:relative;
			height:780px;
			background-color:#000;
			.wrap-user-intro{
				position:absolute;
				left:45px;
				top:225px;
				z-index:5;
				width:580px;
				z-index:10;
				color:#fff;
				h4{
					padding-bottom:20px;
					font-size:30px;
					font-weight:600;
				}
				p{
					padding-bottom:35px;
					font-size:18px;
					line-height:1.6;
				}
			}
			.wrap-user-pic{
                position:absolute;
                width:940px;
                right:0;
                bottom:0;
                overflow:hidden;
			}
		}
		.fifth-item{
			position:relative;
			height:635px;
			.fifth-bg{
				position:absolute;
				height:100%;
				width:100%;
				-webkit-filter:blur(2px);
				-moz-filter:blur(2px);
				-ms-filter:blur(2px);
				filter:blur(2px);
				opacity: 0.5;
				filter: alpha(opacity=50);
			}
			.wrap-intro{
				position:relative;
				z-index:10;
				width:560px;
				padding-top:100px;
				padding-left:90px;
				h3{
					padding-bottom:35px;
					font-size:45px;
					color:#000;
					font-weight:600;
				}
				p{
					padding-bottom:30px;
					font-size:18px;
					color:#333;
					line-height:1.6;
				}
			}
			.saomiao-pic{
				overflow:hidden;
				.saomiao-item{
                    float:left;
                    margin-right:50px;

                    &:last-child{
                    	margin-right:0;
                    }
                    p{
                    	text-align:center;
                    	font-size:14px;
                    }
                }
			} 
			.pic-item{
                display:inline-block;
                margin-bottom:22px;
                padding:15px;
                width:160px;
                border:1px solid #611d6f;
                -webkit-box-sizing:border-box;
                -moz-box-sizing:border-box;
                box-sizing:border-box;
                background-color:#fff;
                -webkit-border-radius:10px;
                -moz-border-radius:10px;
                border-radius:10px;
                
                img{
                	width:100%;
                	vertical-align:middle;
                }

			}
			
		}

} 