
@media only screen and (min-width:750px),only screen and (min-device-width:750px){html{font-size:100px}}
@media only screen and (min-width:540px),only screen and (min-device-width:540px){html{font-size:72px}}
@media only screen and (max-width:480px),only screen and (max-device-width:480px){html{font-size:64px}}
@media only screen and (max-width:414px),only screen and (max-device-width:414px){html{font-size:55px}}
@media only screen and (max-width:400px),only screen and (max-device-width:400px){html{font-size:53px}}
@media only screen and (max-width:375px),only screen and (max-device-width:375px){html{font-size:50px}}
@media only screen and (max-width:360px),only screen and (max-device-width:360px){html{font-size:48px}}
@media only screen and (max-width:320px),only screen and (max-device-width:320px){html{font-size:42px}}
@media only screen and (max-width:240px),only screen and (max-device-width:240px){html{font-size:32px}}
html{
    width:100%;height:100%;
}
body{
    height:100%;
    padding: 0;
    margin:0 auto;
    font-family: "Microsoft YaHei" !important;
    font-size:.28rem;
    line-height:1.2;
    background-color:#f2f2f2;
}
.wrap-allContent{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:1.2rem;
    overflow-y:auto;
}
.search-wrap{
    position:relative;
    height:1rem;
    padding:.2rem 0 .2rem;
    background-color:#dc4935;
}
.search-wrap .search-header-left{
    position:absolute;
    left:.2rem;
    height:.6rem;
    width:.6rem;
    z-index: 10;

}
.search-wrap .search-header-left .pic{
    width:.6rem;
    height:.6rem;
    vertical-align: middle;
}
.search-wrap .search-header-right{
    position:absolute;
    top:.22rem;
    right:.22rem;
}
.search-wrap  .search-header-right .user-pic{
    width:.56rem;
    height:.56rem;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.search-wrap  .search-header-main{
    position:relative;
    margin:0 1rem;
}
.search-wrap  .search-header-main .search-icon{
    position:absolute;
    left:.2rem;
    top:.17rem;
    width:.28rem;
    height:.28rem;
    background:url(../../images/icon_soushuo_h@2x.png) no-repeat center center;
    background-size:.26rem .26rem;

}
.search-wrap  .search-header-main .search-input{
    padding:.17rem .1rem .17rem .66rem;
    width:100%;
    color:#989898;
    height:.6rem;
    border:none;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    border-radius: .1rem;
}
/*轮播图*/
.index-banner{
    position:relative;
    height:3.14rem;
}
.index-banner .banner-list .banner-item{
    width:100%;
    text-align:center;
}
.index-banner .banner-list .active{
    display:block;
}
.index-banner .banner-list img{
    overflow:hidden;
    width:100%;
    height:3.14rem;

}
/*.index-banner .banner-dot{
    position:absolute;
    left:50%;
    bottom:.16rem;
    width:.8rem;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}*/
.swiper-pagination{
    width:100%;
    bottom:.15rem;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
    opacity: 1;
    margin-right:.2rem;
    background:url(../../images/icon_banner0_h@2x.png) no-repeat center center;
    background-size:.12rem .12rem;
}
.swiper-pagination-clickable .swiper-pagination-bullet-active{
    opacity:1;
    background:url(../../images/icon_banner00_h@2x.png) no-repeat center center;
    background-size:.12rem .12rem;
}
.index-banner .banner-dot .dot-item{
    float:left;
    display:inline-block;

    width:.13rem;
    height:.13rem;
    background:url(../../images/icon_banner0_h@2x.png) no-repeat center center;
    background-size:.12rem .12rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.index-banner .banner-dot .active-dot{
    background:url(../../images/icon_banner00_h@2x.png) no-repeat center center;
    background-size:.12rem .12rem;
}
.index-banner .banner-dot .dot-item:last-child{
    margin-right:0;
}
/****/
.index-content .content-title{
    display:-webkit-box;
    display:-moz-box;
    display:flex;
    padding:.3rem .21rem .68rem;
    background-color:#fff;
}
.index-content .content-title .title-item{
    -webkit-flex:1;
    -moz-box-flex: 1;
    flex:1;
    text-align: center;
}
.index-content .content-title .title-item img{
    width:.9rem;
    height:.9rem;
    margin-bottom:.2rem;
    vertical-align: middle;
}
.index-content .content-title .title-item p{
    color:#2d2d2d;
}
.index-content .latest-tuijian{
    position:relative;
    padding:.12rem .3rem .32rem;
    background-color:#fff;

}
.index-content .latest-tuijian h2{
    position:absolute;
    left:50%;
    top:0;
    padding:0 .1rem;
    color:#2d2d2d;
    letter-spacing: 2px;
    background-color:#fff;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.index-content .latest-tuijian .line{
    border-bottom:1px solid #626262;
}
.index-content .tuijian-list{
    padding:.2rem .11rem 0;
    overflow:hidden;
}
.index-content .tuijian-list .tuijian-item{
    float:left;
    width:50%;
    padding:0 .09rem;
    margin-bottom:.2rem;
    text-align:center;
}
.index-content .tuijian-list .tuijian-item .wrap-info{
    width:100%;
    display:inline-block;
    border:1px solid #e0e0e0;
}
.index-content .tuijian-list .tuijian-item .wrap-img{
    position:relative;
    height:3.8rem;
    line-height:3.8rem;
    background-color:#fafafa;
    overflow:hidden;
}
.index-content .tuijian-list .tuijian-item .pic{
    width:auto;
    vertical-align: middle;
    max-width:100%!important;
}
.tuijian-list .tuijian-item .wrap-img .price{
    position:absolute;
    bottom:0;
    left:-1px;
    height:.6rem;
    padding:0 .1rem;
    line-height:.6rem;
    color:#fff;
    font-size:.3rem;
    background-color:rgba(0,0,0,.5);
}
.tuijian-list .tuijian-item .wrap-info .user-intro{
    padding:.24rem 0;
    background-color:#fff;
    color:#2d2d2d;

}
.tuijian-item .wrap-info .user-intro h4{
    padding-bottom:.2rem;
    color:#2d2d2d;
}
.tuijian-item .wrap-info .user-intro p{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/**返回顶部**/
.toTop{
    display:none;
    position:fixed;
    right:.4rem;
    bottom:2rem;
    width:.92rem;
    height:.92rem;
    background:url(../../images/btn_top_h@2x.png) no-repeat center center;
    background-size:.9rem .9rem;
}
/****/
.index-footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index: 10;
    width:100%;
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:flex;
    padding:.16rem 0;
    border-top:1px solid #e0e0e0;
    background-color:#fff;
}
.index-footer .footer-item{
    -webkit-flex:1;
    -moz-flex:1;
    -webkit-box-flex: 1;
    flex:1;
    text-align:center;
}

.index-footer .footer-item  p{
    font-size:.2rem;
    color:#989898;
}
.index-footer .active-item p{
    color:#dc4935
}
.index-footer .footer-item .footer-home{
    background:url(../../images/nor_home_h@2x.png) no-repeat center center;
}
.index-footer .active-item .footer-home{
    background:url(../../images/on_home_h@2x.png) no-repeat center center;
}

.index-footer .footer-item .footer-product{
    background:url(../../images/nor_store_h@2x.png) no-repeat center center;

}
.index-footer .active-item .footer-product{
    background:url(../../images/on_store_h@2x.png) no-repeat center center;
}
.index-footer .footer-item .footer-shopping{
    background:url(../../images/nor_shopping_cart_h@2x.png) no-repeat center center;

}
.index-footer .active-item .footer-shopping{
    background:url(../../images/on_shopping_cart_h@2x.png) no-repeat center center;
}
.index-footer .footer-item .footer-user{
    background:url(../../images/nor_me_h@2x.png) no-repeat center center;

}
.index-footer .active-item .footer-user{
    background:url(../../images/on_me_h@2x.png) no-repeat center center;
}
.index-footer .footer-item .item-icon{
    display:inline-block;
    width:.6rem;
    height:.55rem;
    background-size:.58rem .52rem;
}
.wrap-up-more{
    clear:both;
    padding:.18rem 0 .38rem;
    font-size:.28rem;
    color:#989898;
    text-align:center;
}
.wrap-up-more .up-more{
    padding-left:.4rem;
    display:inline-block;
    font-style:normal;
    background:url(../../images/icon_shangla_h@2x.png) no-repeat left center;
    background-size:.26rem .3rem;
}