@media only screen and (min-width:750px),
only screen and (min-device-width:750px) {
    html {
        font-size: 100px
    }
}

@media only screen and (min-width:540px),
only screen and (min-device-width:540px) {
    html {
        font-size: 72px
    }
}

@media only screen and (max-width:480px),
only screen and (max-device-width:480px) {
    html {
        font-size: 64px
    }
}

@media only screen and (max-width:414px),
only screen and (max-device-width:414px) {
    html {
        font-size: 55px
    }
}

@media only screen and (max-width:400px),
only screen and (max-device-width:400px) {
    html {
        font-size: 53px
    }
}

@media only screen and (max-width:375px),
only screen and (max-device-width:375px) {
    html {
        font-size: 50px
    }
}

@media only screen and (max-width:360px),
only screen and (max-device-width:360px) {
    html {
        font-size: 48px
    }
}

@media only screen and (max-width:320px),
only screen and (max-device-width:320px) {
    html {
        font-size: 42px
    }
}

@media only screen and (max-width:240px),
only screen and (max-device-width:240px) {
    html {
        font-size: 32px
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.has-head {
    padding-top: 0.96rem;
    font-family: '微软雅黑'
}

.head {
    position: fixed;
    height: 0.96rem;
    line-height: 1rem;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background: #dc4935;
    text-align: center;
    font-size: 0.44rem;
    letter-spacing: 2px;
    z-index: 1000;
}

.head a.back,
.head a.right {
    width: 0.96rem;
    height: 0.96rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    line-height: 0.96rem;
}

.head a.back img,
.head a.right img {
    width: 22px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.head a.right {
    left: auto;
    right: 0;
}

.sign-con {
    background: #dc4935;
    padding: 0.4rem 0.4rem 0.25rem;
    margin-top: -1px;
    position: relative;
}

.sign-con .s-c {
    background: url('../../images/pic_qiandao@2x.png') no-repeat;
    width: 113px;
    height: 130px;
    background-size: 113px 130px;
    margin: 0 auto;
    color: #2d2d2d;
    padding-top: 0.32rem;
    font-size: 0.22rem;
    text-align: center;
    line-height: 0.30rem;
}

.sign-con .s-c p {
    padding-top: 0.44rem;
    font-size: 0.5rem;
}

.sign-btn {
    margin: 0.36rem auto 0.46rem;
    width: 3rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #2d2d2d;
    border-radius: 0.1rem;
    background: #fff;
    font-size: 0.28rem;
}

.level-s p {
    letter-spacing: 1px;
}

.level-s .tit {
    line-height: 1rem;
    font-size: 0.28rem;
    color: #2d2d2d;
    padding-left: 0.3rem;
    border-bottom: 1px solid #e0e0e0;
}

.level-s .l-s {
    padding: 0.2rem 0.3rem;
    font-size: 0.24rem;
    color: #989898;
    line-height: 0.4rem;
}

.level-s .l-s>p {
    padding-bottom: 5px;
    padding-left: 0.45rem;
    position: relative;
}

.level-s .l-s>p span {
    display: inline-block;
    width: 0.45rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sign-tip {
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4rem;
    height: 0.98rem;
    line-height: 0.98rem;
    text-align: center;
    color: #fff;
    border-radius: 0.1rem;
    background: rgba(0, 0, 0, 0.6);
    font-size: 0.38rem;
    margin: auto;
    z-index: 9999;
}