/**初始化样式 **/
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;font-family:Arial, "微软雅黑";}
img{border:none;max-width:100%;vertical-align:middle;}
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;list-style:none;overflow-x:hidden}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea{-webkit-user-select:text;-ms-user-select:text;user-select:text;-webkit-appearance:none;font-size:1em;line-height:1.5em;}
table{border-collapse:collapse;}
input,select,textarea{outline:none;border:none;background:none;}
a{outline:0;cursor:pointer;*star:expression(this.onbanner=this.blur());}
a:link,a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{color:#f00;text-decoration:underline;}
a{text-decoration:none;-webkit-touch-callout:none;}
em,i{font-style:normal;}
li,ol{list-style:none;}
.clear{clear:both;height:0;font-size:0;line-height:0;visibility:hidden; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
body{font-size: 14px;background:#ede7ee;}
.story-bg{
    width:100%;
}
.story-bg>img{
    width:1920px;
    height:297px;
    margin-left:-960px;
    position: absolute;
    left:50%;
    max-width: 1920px;
    z-index: -1;
}
.contact-type{
    width:1198px;
    margin: 0 auto;
    padding-top:50px;

}
.contact-type-list>ul>li{
    width:25%;
    float: left;
    text-align: center;
}
.contact-type-list>ul>li>img{
    width:45%;
    margin-bottom: 20px;
}
.contact-type-list>ul>li>h4{
font-size: 14px;
    overflow: hidden;
    color: #999999;
    margin-bottom: 21px;
}
.contact-type-list>ul>li>h5{
    overflow: hidden;
font-size: 18px;
    color:#222222;
}
.contact-type-list:after{
    content: "";
    clear: both;
    height: 1px;
    display: block;
}
.map-box{
    margin-top: 50px;
    margin-bottom: 90px;
}